<!-- Designed & Developed by Li Wang, Yong Qi, Tianjian Chen -->

<html>
<head>
	 <meta charset="utf-8">
    <title>Add Page</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
	<script src="/static/js/jquery.scrollTo.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>	


<style type="text/css">

body{
	text-align: center;
}

form{
	display: inline-block;
	margin-right: 10%;
}

label{
	font-weight: 200;
}

p{
	text-transform: uppercase;
}

</style>
</head>

<body>
	<div class="container">

	<form role="form" class="form-horizontal" id="addSpeaker" method="POST" action="/addSpeaker">
		<p><strong>add Speaker</strong></p>
		<label for="name">Name:</label>
		<input class="form-control" type="text" id="name" name="name" value="">
		<br>

		<label for="photo">Photo URL:</label>
		<input class="form-control" type="text" id="photo" name="photo">
		<br>


		<label for="panel">Panel:</label> 
		<input class="form-control" type="text" id="panel" name="panel">
		<br>


		<label for="bio">Bio:</label>
		<textarea class="form-control" type="text" id="bio" name="bio"></textarea>
		<br>

		<button class="btn btn-success"type="submit">submit</button>
	</form>


	<form id="addMember" method="POST" action="/addMember">

		<p><strong>add Team Member</strong></p>
		<label for="name">Name:</label>
		<input class="form-control" type="text" id="name" name="name" value="">
		<br>

		<label for="photo">Photo URL:</label>
		<input class="form-control" type="text" id="photo" value="/static/img/team/default.jpg" name="photo">
		<br>

		<label for="department">Department:</label>
		<input class="form-control" type="text" id="department" name="department">
		<br>

		<label for="bio">Bio:</label>
		<textarea class="form-control" type="text" value="information missed" id="bio" name="bio"></textarea>
		<br>




		<button class="btn btn-success"type="submit">submit</button>
	</form>

</div>
</body>

</html>