<!-- Designed & Developed by Li Wang, Yong Qi, Tianjian Chen -->

<html>

<head>
	<meta charset="utf-8">
	<title>CCPC 2014 | Directions</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700' rel='stylesheet' type='text/css'>
	<link href="/static/css/custom.css" rel="stylesheet">

	<!--js-->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/respond.min.js"></script>
	<script src="/static/js/p5.min.js"></script>
	<script src="/static/js/jquery.scrollTo.min.js"></script>
	<script src="/static/js/skrollr.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB0sBRkVtcxSzyYkyYqW9yrTv34kl5j0kM">
	</script>
	<script src="/static/js/custom.js"></script>
</head>


<body>
	<div class="container-fluid">


		<!-- row 0: navigation -->

		<nav class="navbar navbar-default navbar-inverse center navbar-fixed-top" role="navigation">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="/">
					<img id="nav-bar-logo" src="/static/img/ccpc_logo.png" />
				</a>
			</div>
			<div class="collapse navbar-collapse" id="collapse">
				<div class="navbar-inner">
					<ul class="nav navbar-nav">
						<li><a href="/#THEME">THEME</a>
						</li>
						<li><a href="/#PANELS">PANELS</a>
						</li>
						<li><a href="/#AGENDA">AGENDA</a>
						</li>
						<li><a href="/#TICKETS">TICKETS</a>
						</li>
						<li class="active"><a href="/directions">DIRECTIONS</a>
						</li>
						<li><a href="/#SPONSORSHIP">SPONSORSHIP</a>
						</li>
						<li><a href="/about">ABOUT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>



		<section id="directions-content" class="container-fluid section">
			<h1 class="row section-name text-center">Directions</h1>
			<div class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0" >

				<div id="subway-bus" class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
					<h5>SUBWAY DIRECTIONS</h5>
					<p>The #1 subway train stops at the Columbia University station at West 116th Street and Broadway. If you are boarding at Penn Station (Seventh Avenue and 33rd Street) or the Port Authority Bus Terminal (between Eighth and Ninth Avenues & 40th and 42nd Streets) you can take the #1 local Uptown or the #2 or #3 express Uptown. If you board an express train, you’ll need to transfer to the #1 local at the express (#2 & #3) train stop at the 96th Street station. Just cross the platform to board the local #1 to West 116th Street and Broadway. If you are coming from Grand Central Station you will need to take the Shuttle train S across to Broadway and 42nd Street and then proceed as above.</p><br>
					<h5>BUS DIRECTIONS</h5>
					<p>Three bus lines (M4,M104 and M60) serve the Columbia campus stopping directly in front of the 116th Street gates. Cross-town buses connect with the #1 subway on Broadway or Seventh Avenue.</p><br>
					<h5>AIRPORT TRANSPORTATION</h5>
					<p>LaGuardia, JFK and Newark Airports: The easiest way to reach Columbia University from the airport is by taxi. The average fare from LaGuardia Airport, the closest airport to the campus, LaGuardia is $25. This does not include toll and tip. JFK Airport has a flat fare of $45 to any single stop in Manhattan. This does not include toll and tip. Taxi service from Newark Airport is $67 (+$15 surcharge + tip).</p>
				</div>

				<div id="car" class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
					<h5>CAR DIRECTIONS</h5>
					<p>To the Campus: The main entrance to the Columbia campus is located at 116th Street and Broadway in Manhattan. Columbia is best reached by taking the 95/96th Street exit of the Henry Hudson Parkway (West Side Highway). If you are traveling south, you can use the 95th Street off ramp and turn left onto Riverside Drive. Proceed north to 116th Street. A right turn at 116th Street leads you to the campus gate. If you are traveling north, your exit will be at 96th Street. You can go across 96th and then make a left onto Broadway and proceed north to 116th Street. • From the North:
						<br>
						<br>(1) Take the New York Thruway (Route 87) or the New England Thruway (I-95) to the Cross Bronx Expressway in the direction of the George Washington Bridge. Bear right as you approach the bridge and take the exit for the Henry Hudson Parkway (West Side Highway) south. Exit the parkway at West 95th Street. Make a left on Riverside Drive. Go North on Riverside until 116th Street. Turn right and go two blocks towards Broadway and the University’s Maingates.
						<br>
						<br>(2) Take the Saw Mill Parkway south to the Henry Hudson Parkway (West Side Highway) south. Exit the parkway at West 95th Street. Proceed as above.
						<br>• From the East: Take the Grand Central Parkway or Long Island Expressway west to the Cross Island Parkway north. Cross over the Throggs Neck Bridge to the Cross Bronx Expressway in the direction of the George Washington Bridge. Proceed as above.
						<br>• From the South and West: Take the New Jersey Turnpike (I-95) north or I-80 east to the George Washington Bridge. As you cross the bridge, be careful to exit onto the Henry Hudson Parkway (West Side Highway) south. Proceed as above.
						<br>• From Long Island: Take the Long Island Expressway or the Grand Central Parkway west to the Cross Island Parkway north. Cross the Throgs Neck Bridge onto the Cross Bronx Expressway (I-95 south) Proceed as above.</p>
				</div>
				<div id="wheelchair" class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
					<h5>WHEELCHAIR ACCESSIBILITY <span class="chi-hong">*</span></h5>
					<p>Both entrances to Schermerhorn are equipped with wheelchair lifts, but the back entrance is the more direct route. The security guard at the booth near the entrance should have a key to the lift, but it is still a good idea to contact Security in advance of your visit. Visit the Office of Disability Services web site for more information regarding campus accessibility. Click here for more information regarding accessibility within Schermerhorn Hall. To reach the “back door” entrance to Schermerhorn Hall, at 119th St. and Amsterdam Ave., follow the above route but continue north on Riverside Drive to 120th Street. Turn right on 120th and then right at Amsterdam Avenue. The next light will be 119th Street, where you’ll find the “back door” entrance to Schermerhorn Hall.</p>
				</div>
			</div>
		</section>

		<!-- row 9: pre-footer-->
		<section class="row" id="pre-footer">
			<div class="text-center">
				<i class="fa fa-twitter"></i><span class="wrap"></span>
				<i class="fa fa-facebook"></i><span class="wrap"></span>
				<i class="fa fa-wechat"></i><span class="wrap"></span> 
				<i class="fa fa-weibo"></i><span class="wrap"></span> 
			</div>
			<img src="../static/img/qrcode.jpg" alt="">
			<h6> Scan to add us on Wechat</h6>
		</section>
		<!-- end pre-footer-->


		<!-- row 10: FOLLOW US-->
		<footer class="row">
			<div>
				<h6> © CCPC 2014 </h6>
				<h6> Please direct all inquiries to contact@ccpc2014.com </h6>
			</div>
		</footer>




	</div>
</body>


</html>